<div class="container">
    
    <div  class="d-flex flex-wrap">

        <div *ngFor="let user of users" class="col-md-4 col-sm-12 col-xm-12">    
            
            <div class=" p-4 m-2 border rounded">
            <div class="text-center">
                <img class="profile-picture border rounded-circle p-2" [src]='user.picture'
                    alt="user picture">
            </div>
            <div class="m-2 p-2">
                <h5 class="text-center text-bg-dark border rounded p-1"> {{ user.name }}</h5>
                <p class="row"><span class="col-4 fw-bold">Gender</span>{{ user.gender }}</p>
                <p class="row"><span class="col-4 fw-bold">Email</span> {{ user.email }}</p>
                <p class="row"><span class="col-4 fw-bold">Mobile</span> {{ user.mobile }}</p>
                <p class="row"><span class="col-4 fw-bold">Category</span> {{ user.category }}</p>
                <div><span class="col-4 fw-bold me-2">Technology</span>
                    <span *ngFor="let tech of user.technology" class="border rounded p-1 me-2 text-bg-primary">{{tech}}</span>
                </div>
            </div>
            </div>
        
        </div>

    </div>
</div>